* {
    margin: 0px;
    padding: 0px;
}
.top_section {
    background-color: rgb(36, 57, 148);
    height: 40px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
 } 
.top_section .top_txt {
    color: white;
     font-family:'Roboto', sans-serif;
     font-size: 15px;
}
 
